@import url('./assets/styles/header.css');
@import url('./assets/styles/banner.css');
@import url('./assets/styles/carrossel.css');
@import url('./assets/styles/topicos.css');
@import url('./assets/styles/contato.css');
@import url('./assets/styles/rodape.css');

:root {
  --cor-de-fundo: hsla(223, 8%, 93%, 1);
  --branco: hsla(0, 0%, 100%, 1);
  --laranja: hsla(40, 100%, 46%, 1);
  --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  --azul: hsl(206, 100%, 16%);
  --preto: hsl(0, 0%, 0%);
  --cinza: hsl(0, 1%, 28%);
  --cinza-claro: hsl(0, 0%, 52%);
  --fonte-principal: 'Poppins', sans-serif;
  --fonte-secundaria: 'Josefin Sans', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
